<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile.ewallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".feature.auth.AuthActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".feature.listpokemon.ListPokemonActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".feature.detailpokemon.DetailPokemonActivity"
            android:exported="false" />
        <activity android:name=".feature.auth.LoginActivity" />
        <activity android:name=".feature.auth.StartupActivity" />
        <activity android:name=".feature.auth.RegisterActivity" />
        <activity android:name=".feature.auth.CreateAccountActivity" />
        <activity
            android:name=".feature.home.HomeActivity"
            android:theme="@style/AppMaterialTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.profile.ProfileActivity" android:theme="@style/AppMaterialTheme.NoActionBar" />
        <activity android:name=".feature.profile.UpdateProfileActivity" />
        <activity android:name=".feature.moneyreq.MoneyRequestActivity" android:theme="@style/AppMaterialTheme.NoActionBar"/>
        <activity android:name=".feature.pay.PayInputActivity" android:theme="@style/AppMaterialTheme.NoActionBar"/>
        <activity android:name=".feature.pay.PayResultActivity" />
        <activity android:name=".feature.home.TransactionDetailActivity" android:theme="@style/AppMaterialTheme.NoActionBar"/>
        <activity android:name=".feature.moneysend.MoneySendTypeActivity" android:theme="@style/AppMaterialTheme.NoActionBar"/>
        <activity android:name=".feature.moneysend.MoneySendBankActivity" android:theme="@style/AppMaterialTheme.NoActionBar"/>
        <activity android:name=".feature.home.BadgeActivity" />
        <activity android:name=".feature.credit.CreditDetailActivity" />
        <activity android:name=".feature.scantosendmoney.ScannerActivity" />
        <activity android:name=".feature.moneysend.ContactListActivity" />
        <activity android:name=".feature.topup.TopupActivity" />
    </application>

</manifest>